/*
Theme Name: The Yellow Truck
Theme URI: https://themes.muffingroup.com/betheme
Author: Muffin group
Author URI: https://muffingroup.com
Description: Child Theme for Betheme
Template: betheme
Version: 2.0.2
*/

.star-rating {
    display: flex;
    font-size: 20px;
}

.star {
    display: inline-block;
    font-size: 30px;
    color: #ddd;
    margin-right: 2px;
}

.star.filled {
    color: #f8d100;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}